#menu-demo2, #menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu-demo2 li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu-demo2 ul li{
display:inherit;
border-radius:0;
}
#menu-demo2 ul li:hover{
border-radius:0;
}
#menu-demo2 ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-demo2 li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu-demo2 li:first-child{
background-color: #e0aca3;
background-image:-webkit-linear-gradient(top, #e0aca3 0%, #e0aca3 100%);
background-image:linear-gradient(to bottom, #e0aca3 0%, #e0aca3 100%);
}
#menu-demo2 li:nth-child(2){
background-color: #e0aca3;
background-image: -webkit-linear-gradient(top, #e0aca3 0%, #e0aca3 100%);
background-image:linear-gradient(to bottom, #e0aca3 0%, #e0aca3 100%);
}
#menu-demo2 li:nth-child(3){
background-color: #e0aca3;
background-image:-webkit-linear-gradient(top, #e0aca3 0%, #e0aca3 100%);
background-image:linear-gradient(to bottom, #e0aca3 0%, #e0aca3 100%);
}
#menu-demo2 li:last-child{
background-color: #e0aca3;
background-image:-webkit-linear-gradient(top, #e0aca3 0%, #e0aca3 100%);
background-image:linear-gradient(to bottom, #e0aca3 0%, #e0aca3 100%);
}
/* background des liens sous menus */
#menu-demo2 li:first-child li{
background:#e0aca3;
}
#menu-demo2 li:nth-child(2) li{
background:#e0aca3;
}
#menu-demo2 li:nth-child(3) li{
background:#d09273;
}
#menu-demo2 li:last-child li{
background:#d09273;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#b24a3b;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#b24a3b;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#b24a3b;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#b24a3b;
}
/* les a href */
#menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#000;
font-family:arial;
}
#menu-demo2 ul a{
padding:8px 0;
}
#menu-demo2 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:#fff;
}

body{
	background-color: grey;
	background-image:url(http://img1.goodfon.su/original/1920x1080/1/ef/abstrakciya-cvet-ugol-fon.jpg);
}

.page{
	display: flex;
	flex-direction: column;
	width: 780px;
	margin: auto;
	font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
	font-size: 16px;
	border: 5px double black;
	border-radius: 10px;
	box-shadow: 2px 3px 4px black;
	padding: 20px;
}

.infophoto{
	height: 250px;
	color: white;
}

.info{
	float: left;
	color: white;
}

.photo{
	float: right;
	position :relative;      
	animation: mymove 5s;
}

@keyframes mymove {
    from {top: -200px;}
    to {top: 0px;}
}

.section{
	margin-bottom: 70px;
	text-align: justify;
	color: white;
}

.section:hover{
	color:#c26248;
}

.sec-gauche{
	float: left;
	font-weight: bold;
	font-size: 14px;
	color: white;
}

.sec-gauche:hover{
	color: #c26248;
}

.sec-droite{
	margin-left: 150px;
	margin-top: 36px;
	color: white;
}

.sec-droite:hover{
	color: #c26248;
}

h2{
	font-size: 28px;
	color: #d09273;
	border-bottom: 3px solid #d09273;
}

.duree{
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
}

.titre{
	font-weight: bold;
	font-size: 20px;
}

#forma-gauche p{
	margin-bottom: 18px;
}

#exp-gauche p{
	margin-top: 80px;
}

#lang-droite p{
	margin-top: 40px;
}

strong{
	font-size: 22px;
}

